html,
body {
    background-color: #141519 !important;
}

a {
    color: #5f6168 !important;
}

a:hover {
    color: #fff !important;
}

h1,
h2,
h3,
h4,
h5 {
    color: #2bc258 !important;
    margin-top: 1rem;
    font-family: monospace;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;

}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.5rem;
}

h5 {
    font-size: 0.1rem;
}

.notification {
    background: #141519 !important;
    color: #ffa11d !important;
    box-shadow: 1px 0px #191a1e;
}

.notification p {
    color: #fff;
}

.notification p.title {
    color: #17341f !important;
    background-color: #2bc258;
    width: 5rem;
}

.notification p.subtitle {
    color: #5f6168;
}

#icons i {
    color: #2bc258;
    font-size: 1.2rem;
}

.has-image-centered {
    justify-content: center;
}

.is-profile-image {
    opacity: 0.9;
}

.is-profile-image img {
    border: 0.2rem solid #2bc258;
    border-radius: 1rem;
    opacity: 0.75
}

.is-content {
    background-color: #141519;
    box-shadow: none;
}

.is-content a:hover {
    color: #ffffff !important;
}

.is-content p {
    color: #fff !important;
}

.is-content p.title {
    color: #2bc258 !important;
}

.is-content p.subtitle {
    color: #2bc258 !important;
    font-size: 0.9rem;
}

.is-content .content p {
    color: #fff !important;
}

.is-content ul li a:link {
    color: #2bc258 !important;
    font-weight: bold;
}

.is-content .is-post-content p,
ul,
li {
    color: #5f6168 !important;
}

.is-content .is-post-content p {
    margin-top: 1rem;
}

.is-content .is-post-content a:link {
    color: #2bc258 !important;
}

.is-content .is-post-content a:hover {
    color: #fff !important;
}

.is-content .is-post-content ul li:first-of-type {
    margin-top: 0.4rem !important;
}

.is-content li {
    list-style-type: square !important;
    margin-left: 1rem;
}

.is-content li li {
    color: #4a4c51 !important;
    margin-left: 1rem;
}

.is-content ul li a:hover {
    color: #71ff9b !important;
    font-weight: bold;
}

hr {
    visibility: hidden;
    margin: 0.5rem;
}

code {
    background-color: #191a1e;
    color: #2bc258;
    white-space: pre-wrap !important;
}

code:hover {
    color: #fff;
}
