<div id="content">
    <div class="column is-two-thirds-desktop is-full-tablet is-full-mobile is-family-monospace">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                    <div class="has-text-centered">
                        <div class="is-profile-image mb-5">
                            <figure class="image is-128x128 is-inline-block">
                                <a href="/"><img class="is-profile-image" src="/images/profile.jpeg"></a>
                            </figure>
                        </div>
                    </div>
                    <p class="title">Beau</p>
                    <p class="subtitle">Systems Engineer</p>
                    <div class="content has-text-black">
                        <p>internet of beau.</p>
                    </div>
                    <div id="icons" class="has-text-centered">
                        <p>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa fa-github"></i>
                                </span>
                                <span></span>
                            </span>

                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <span></span>
                            </span>
                        </p>
                </article>
            </div>
