{{ define "main" }}
</div>

<div class="tile is-parent is-8">
    <article class="tile is-child is-content box">
        <p class="title">{{ .Title }}</p>
        <ul>
            {{range .Site.RegularPages }}
            <li><a href=" {{.Permalink}}">{{.Title}}</a> - {{ .PublishDate.Format "January 2, 2006" }}</li>
            <div class="is-post-content">
                {{ .Summary }}
            </div>
            {{ if .Truncated }}
            <div>
                <a href="{{ .RelPermalink }}">Read More…</a>
            </div>
            {{end}}
            <hr>
            {{end}}
        </ul>

    </article>
</div>
</div>
</div>
</div>
</div>

{{ end }}
